<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ $title := .Get "title" }}
{{ $image := .Get "image" }}

<div class="card">
  <div class="card-logo">
    <img class="img img-responsive" src="{{ $image }}" alt="{{ $title }}" aria-role="heading">
  </div>
  <div class="card-content">
    <p>
{{ .Inner | markdownify }}
    </p>
  </div>
</div>
