<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div class="row row-no-gutters margin-top-60 margin-bottom-60 text-center">
  <div class="col-md-6">
    <div class="marketplace-tile padding-30 match-height-item-by-row text-left">
      <p class="h3">
        Find the open source extensions you need through one of our marketplaces.
      </p>
    </div>
  </div>
  <div class="col-sm-16 col-sm-offset-4 col-md-6 col-md-offset-0 match-height-item-by-row">
    <a class="marketplace-tile padding-30 bg-neutral-tinted bg-hover-darker match-height-item-by-row" href="https://marketplace.eclipse.org/">
      <div class="marketplace-tile-logo">
        <img src="images/eclipse-ide.png" alt="" />
      </div>
      <p class="h3">Eclipse IDE Marketplace</p>
    </a>
  </div>
  <div class="col-sm-16 col-sm-offset-4 col-md-6 col-md-offset-0 match-height-item-by-row">
    <a class="marketplace-tile padding-30 bg-neutral-tinted-dark bg-hover-darker match-height-item-by-row" href="https://open-vsx.org/">
      <div class="marketplace-tile-logo">
        <img src="images/open-vsx.png" alt="" />
      </div>
      <p class="h3">Open VSX Registry</p>
    </a>
  </div>
  <div class="col-sm-16 col-sm-offset-4 col-md-6 col-md-offset-0 match-height-item-by-row">
    <a class="marketplace-tile padding-30 bg-primary-light bg-hover-darker match-height-item-by-row" href="https://adoptium.net/marketplace/">
      <div class="marketplace-tile-logo">
        <img src="images/adoptium.png" alt="" />
      </div>
      <p class="h3">Adoptium Marketplace</p>
    </a>
  </div>
</div>
