<!-- Delete this file before going to production. Using relative links for testing on staging -->
{{ $footer_eclipse_foundation_class := .Params.footer_section_eclipse_foundation_class | default .Site.Params.footer_section_eclipse_foundation_class | default "footer-section col-md-5 col-sm-8" }}
<section id="footer-eclipse-foundation" class="{{ $footer_eclipse_foundation_class }}">
  <div class="menu-heading">{{ i18n "eclipse-foundation-text" }}</div>
  <ul class="nav">
    <li><a href="/org/">{{ i18n "footer-foundation-about-us-text" }}</a></li>
    <li><a href="https://projects.eclipse.org/">Projects</a></li>
    <li><a href="/collaborations/">Collaborations</a></li>
    <li><a href="/membership/">{{ i18n "footer-foundation-members-text" }}</a></li>
    <li><a href="/sponsor/">{{ i18n "footer-foundation-sponsor-text" }}</a></li>
  </ul>
</section>
